apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kibana-data
  namespace: common
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
